APP_NAME=Spend Tracker API
APP_ENV=local
APP_DEBUG=true
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=spend_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=
SQLALCHEMY_ECHO=false
